/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.layout-container-action-button {
  top: auto;
  right: 3.065rem;
  bottom: 2.44rem;
  left: auto;
  position: fixed;
  z-index: 1;
}

.container-title-dialog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
