<div class="container-title-dialog">
    <p mat-dialog-title>Add Doctor</p>
    <button id="btn-close" mat-icon-button type="button" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<form [formGroup]="doctorForm">


    <mat-form-field class="full-width">
        <mat-placeholder>Name</mat-placeholder>
        <input matInput formControlName="nome" required maxlength="100" id="nome">
        <mat-error>
            the field is required
        </mat-error>

    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-placeholder>Especialidade</mat-placeholder>
        <input matInput formControlName="especialidade" required maxlength="100" id="especialidade">
        <mat-error>
            the field is required
        </mat-error>
    </mat-form-field>


    <button id="btn-submit" mat-raised-button color="primary" class="full-width" [disabled]="doctorForm.invalid"
            (click)="salvar()">Salvar
    </button>


</form>
